
.m-loanform{
  margin-right: 100px;

  .ant-form-item{
    width: 100%;
    margin: 10px 0;
  }

  .ant-input-number{
    width: 100%;
  }

  .m-form-label{
    margin: 10px 0;
    line-height: 40px;
    color: rgba(0, 0, 0, .85);
    text-align: right;
  }

  .m-form-content{
    margin: 10px 0;
    line-height: 40px;
    color: rgba(0, 0, 0, .85);
  }

  .dynamic-delete-button{
    position: absolute;
    top: 50%;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
    color: @primary-color;
    cursor: pointer;
  }

  .m-app-inner-form{
    margin-top: 15px;
    border-radius: 4px;
    background-color: #f8f8f8;

    &--icon{
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 60px;
      font-size: 20px;
      cursor: pointer;
    }
  }

}

.right-reload-spin{
  margin-top: -20px;
  text-align: right;

  .right-reload-spin-icon{
    color: #666;
    font-size: 12px;
    cursor: pointer;
  }
}
